body{
    background-color: rgb(27, 196, 140);
    color: white;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

button{
    padding: 25px;
    border-radius: 20px;
    font-size: large;
    color: white;
    border: none;
    background-color: rgb(3, 144, 97);
}

.color{
    background-color: rgb(4, 216, 145);
}

.box{
    margin: 20px;
    padding:20px;
    border-radius: 20px;
    color: black;
    background-color: rgb(4, 216, 145);
}

